.my-profile {
  min-width: 424px;
  background-color: #212121;
  height: 100vh;
  padding: 0 20px;
}

.my-profile .header-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  padding: 20px 0;
}

.my-profile .header-profile div {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.my-profile .header-profile i {
  color: #8a8a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 20px;
}

.my-profile .header-profile i:hover {
  background-color: #8a8a8a5b;
}

.my-profile .header-profile p {
  color: #ffffff;
  font-size: 20px;
}

.information-my-profile {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.information-my-profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.information-my-profile h4 {
  color: #ffffff;
  font-size: 20px;
}
.information-my-profile p {
  color: #ffffff90;
}

.box-information-email-username {
  display: flex;
  flex-direction: column;
}

.box-information-email-username .box-icon-information {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 15px;
  border-radius: 8px;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.box-information-email-username .box-icon-information:hover {
  background-color: #8a8a8a5b;
}

.box-information-email-username .box-icon-information i {
  color: #ffffff84;
  font-size: 30px;
  font-weight: 300;
}
.box-icon-information .title-information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box-icon-information .title-information h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}
.box-icon-information .title-information p {
  color: #ffffff84;
}
.box-btn-add-story-my-profile {
  display: flex;
  justify-content: end;
  margin: -20px 5px;
}

.box-btn-add-story-my-profile .add-story-my-profile {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: rgba(135, 116, 225, 1);
  border: none;
  direction: rtl;
  z-index: 99;
  cursor: pointer;
}

.box-btn-add-story-my-profile .add-story-my-profile i {
  font-size: 30px;

  color: #ffffff;
}

.box-btn-add-story-my-profile .add-story-my-profile:hover {
  background-color: rgb(124, 108, 209);
}

.log-out {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px 15px;
  cursor: pointer;
  position: absolute;
  top: 55px;
  left: 295px;
  border-radius: 7px;
  background-color: #383838fa;
}

.log-out:hover {
  background-color: #8a8a8a;
}
.log-out p,
.log-out i {
  color: #ffffff;
}

@media (max-width: 700px) {
  .my-profile {
    width: 100%;
    min-width: 0;
  }
}
