.Body-Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Body-Login input{
    margin: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.Body-Login button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.Body-Login button:hover{
    background-color: #218838;
}



.register-link{
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}
.register-link:hover{
    text-decoration: underline;
}