* {
  padding: 0;
  margin: 0;
}

.chat-main {
  display: flex;
  flex-direction: row;
}
.spase {
  margin: 0 15px;
}

.Message-to-chat {
  width: 100%;
  height: 100vh;
  order: 1;
  background-color: #000000af;
  background-image: url("./download.png");
  background-blend-mode: luminosity;
  opacity: 0.9;
  background-repeat: repeat;
  background-size: 900px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.All-chates {
  background-color: #2b2b2b;
  height: 100vh;
  min-width: 424px;
  padding: 10px;
  border: #000000 solid 1px;
}
.Box-chat {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 7px;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}
.Box-chat:hover {
  background-color: rgba(145, 145, 145, 0.268);
}

.Box-chat.active {
  background-color: rgba(135, 116, 225, 1);
}

.Box-chat:hover:not(.active) {
  background-color: rgba(145, 145, 145, 0.268);
}

.Box-chat .box-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.Box-chat .Img-Profile {
  min-width: 50px !important;
  height: 50px;
  border-radius: 50%;
}

.box-information .box-time-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.box-information .box-time-count h5 {
  font-size: 12px;
  color: #ffffff90;
  margin-bottom: 7px;
}
.box-information .box-time-count .count-not-read {
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(135, 116, 225, 1);
  border-radius: 50%;
  padding: 5px;
  width: fit-content;
  min-width:27.6px ;
}

.box-information .box-time-count .read-all {
color: #ffffff00;
background-color: #ffffff00;

}

.Box-chat .box-chat-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3px;
}

.Box-chat .box-chat-text h3 {
  color: #ffffff;
}



.box-chat-text p {
  color: #ffffff;
}

.box-chat-text p span {
  color: #aaaaaa;
}

.Box-chat .box-time-count {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header-chat-search {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  align-items: center;
  gap: 15px;
}

.header-chat-search .icon-profail {
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-chat-search .icon-profail:hover {
  background-color: rgba(145, 145, 145, 0.268);
}

.header-chat-search .box-input-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 25px;
  border: 2px solid rgba(162, 162, 162, 0.245);
}

.header-chat-search input {
  background-color: #151515b2;
  font-size: 7px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  border: none;
  z-index: 24;

  color: #ffffff;
}
.box-input-search:focus-within {
  outline: none;
  border: 2px solid rgba(135, 116, 225, 1);
}

.header-chat-search .icon-search-header-profile {
  color: #ffffff;
  font-size: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #151515b2;
  height: 36px;
  width: 50px;
  z-index: 25;
}

.box-input-search:focus-within .icon-search-header-profile {
  color: rgba(135, 116, 225, 1);
}

.Box-chat-search {
  display: flex;
  flex: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 7px;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
}
.Box-chat-search:hover {
  background-color: rgba(145, 145, 145, 0.268);
}

.Box-chat-search .box-chat-text-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Box-chat-search .Img-Profile-search {
  width: 40px;
  height: 40px ;
  border-radius: 50%;
}

.Box-chat-search .box-chat-text-search h3 {
  color: #ffffffd5;
  font-size: 17px;
}
.Box-chat-search .box-chat-text-search p {
  color: #ffffff71;
  font-size: 14px;
}

.box-menu-setting {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 50px;
  left: 35px;
  background-color: #2b2b2b;
  padding: 5px;
  border-radius: 7px;

  z-index: 999;
}

.box-menu-setting div {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: start;
  align-items: start;
  padding: 3px 50px 3px 5px;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.box-menu-setting div:hover {
  background-color: rgba(145, 145, 145, 0.268);
}

.box-menu-setting div img,
.box-menu-setting div i {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-menu-setting div p {
  color: #ffffff;
  font-size: 15px;
}

@media (max-width: 700px) {
  .All-chates {
    width: 100%;
      min-width: 0;

  }
}
