.in-chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-chat {
  width: 100%;
  display: flex;
  height: 56px;
  background-color: #2b2b2b;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

 .context {
  padding:  0px 20px;
  width: 100%;
}
.header-chat .box-img-text-header {
  display: flex;
  flex-direction: row;
  gap: 17px;
 justify-content: center;
 align-items: center;

}

.header-chat .box-img-text-header  img {
  width: 42px ;
  height: 42px !important;
  border-radius: 50%;
}
.box-title-header{
  display: flex;
  flex-direction: column;
  align-items: start; 
}

.box-img-text-header .back-chats{
  display: none;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
}
.box-img-text-header .back-chats:hover{
   background-color: rgba(145, 145, 145, 0.268);
}
 .box-img-text-header .box-title-header h4 {
  font-size: 21px;
  color: #ffffff;
}
.box-img-text-header .box-title-header p {
  font-size: 13px;
  color: #b2b0b0c6;
}


.header-chat .box-icon-header{
display: flex;
flex-direction: row;
gap: 15px;
align-items: center;
}

.header-chat .box-icon-header i{
font-size: 15px;
color: #ffffff;
width: 35px;
height: 35px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;}
.header-chat .box-icon-header i:hover{
  background-color: rgba(145, 145, 145, 0.268);
;
}



.message-list {
  display: flex;
  flex-direction: column;
  padding: 56px 17px;
  gap: 12px;
  overflow-y: auto;
  flex: 1;
  align-items: center;
  
}
.message-list::-webkit-scrollbar {
  width: 5px; 
}

.message-list::-webkit-scrollbar-track {
  background: transparent; 
}

.message-list::-webkit-scrollbar-thumb {
  border-radius: 10px; /
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); 
}

.message-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
.message-body {
display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  max-width: 534px;

}

.my-box-message {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 7px;

  max-width: 75%;
  align-items: flex-end;
  width: fit-content;
  align-self: flex-end;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}
.box-message-other {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 7px;

  max-width: 75%;
  align-items: flex-start;
  width: fit-content;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.img-profile-message {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.text-message-other {
  border-radius: 15px 15px 15px 2px;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 5px 10px;
}

.my-text-message {
  border-radius: 15px 15px 2px 15px;
  background-color: #8774e1;
  color: #ffffff;
  padding: 5px 10px;
  flex-direction: row-reverse;
}

.nonImg {
  display: none;
}


.box-send-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 70px;
    gap: 12px;
}

.box-send-message .box-input{
width: 100%;
max-width: 564px;
height: 54px;
  border-radius: 15px 15px 2px 15px;
  background-color: #2b2b2b;
border: none;
padding: 8px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;



}

.box-input i{
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  border-radius: 50%;
}
.box-input i:hover{
   background-color: rgba(145, 145, 145, 0.268);

}
.box-input .icon-smail:hover{
    color: #708499;

}


.box-input input{
    width: 100%;
    height: 100%;
    border: none;
      background-color: #2b2b2b;
      background: transparent;
      color: #ffffff;
  padding: 10px 5px;
  font-size: 16px;
    
}
.box-input input::placeholder {
  color: #708499;
  border: none;
}
input:focus {
    outline: none;
border: none ;}

.box-send-message button{
    width: 100%;
    height: 100%;
    max-width: 54px;
    max-height: 54px;
    border: none;
    border-radius: 50%;
      background-color: #8774e1;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

}
.box-send-message button i{
color: #ffffff;
font-size: 25px;
text-align: center;
}

.box-send-message button:hover{
      background-color: #8674e1b3;

}

.box-input textarea {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  resize: none; 
  max-height: 150px;
  padding: 10px;
  font-family: inherit;
}

.menu-tools-message{
  display: flex;
  flex-direction: column;
  min-width: 150px;
  border-radius: 13px ;
  background-color: #2b2b2b;
  padding: 10px 5px;
  gap: 8px;
}

.menu-tools-message div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.menu-tools-message div:hover{
    background-color: rgba(145, 145, 145, 0.268);

}

.menu-tools-message div i{
    color: #ffffff;
    font-size: 15px;
}

.menu-tools-message div p{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

.menu-tools-message .but-delete-message:hover {
      background-color: rgba(162, 41, 41, 0.268);

}


.menu-tools-message .but-delete-message i,
.menu-tools-message .but-delete-message p{
  color: rgb(170, 34, 34);
}

.box-emoji{
  background-color: #2b2b2b;
  border-radius: 7px;
  position: absolute;
  bottom: 62px;
  left: 44%;
 
}

body .EmojiPickerReact.epr-main {
    --epr-bg-color: #1a1a1a !important;
    --epr-category-label-bg-color: #252525 !important;
    --epr-picker-border-color: #444 !important;
    --epr-search-input-bg-color: #333 !important;
    width: 100% !important;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
    background-color: #555 !important;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar {
  width: 6px;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-track {
  background: transparent !important;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  background-color: #555 !important;
  border-radius: 10px;
}



@media (max-width:700px){
  .box-img-text-header .back-chats{
  display: flex;
  }
  .box-emoji{
    position:relative;
    width: 100%;
    height: 240px;
    bottom: 0;
  left: 0;
  }
  body .EmojiPickerReact.epr-main {
    
    width: 100% !important;
}
  .epr-category-nav{
    display: none !important; 
  }
  .epr_-wgigul{
    display: none !important;
  }
}

@media (max-width:780px){
  .box-icon-header{
  display: none;
  }
}
